# Environment variables
.env

# Python cache
__pycache__/
*.pyc

videos/*.*

venv

*.pdf
benchmark/videos/*.*
reports/*
!reports/README
benchmark/golden_files/tests/*.*
reports/tests/*.*
summary/*.*
knowledge_base/policy_vector_store/