streamlit
pydantic
google-generativeai
python-dotenv
moviepy
tiktoken
scikit-learn
nltk
langchain
langchain-chroma
langchain-community
langgraph
langchain-google-genai
Jinja2
WeasyPrint
langchain-openai
opencv-python
pandas
markdown